* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    width: 66%;
    margin: 0 auto;
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

form {
    width: 400px;
    height:  250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}

.label_input {
    display: flex;
    flex-direction: column;
}

input {
    padding: 4px;
}

label {
    font-weight: 600;
}

.links input {
    margin-right: 10px;
}